body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

span{
    display: inline-block;
    width: 120px;
}

#result{
    color: red;
}

/* input design */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 480px) {
    span{
        margin-top: 10px;
        display: block;
    }
    input{
        display: inline-block;
        width: 60px;
    }
}