body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

span{
    display: inline-block;
    width: 100px;
}

#result{
    color: red;
}

@media screen and (max-width: 480px) {
    span{
        margin-top: 10px;
        display: block;
    }
    input{
        display: inline-block;
        width: 50px;
    }
}