body {
    margin: 0 auto;
    max-width: 1000px;
}
div {
    margin: 20px;
}
button {
    margin-left: 30px;
    width: 100px;
    height: 36px;
    padding: 5px;
    font-size: 1.3em;
    background-color: #518428;
    color: white;
    cursor: pointer;
}
input{
    width: 150px;
    margin-left: 10px;
    height: 27px;
    padding: 3px;
    font-size: 1.3em;
}
p {
    color: red;
    font-size: x-large;
}
span {
    background-color: #518428;
    color: white;
    padding: 3px;
    display: block;
    width: 450px;
}
.container{
    width: 600px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}